

 body{
   background-color:bisque;
 }
 .con1{
     background-image: url('https://photos.smugmug.com/Blog-Photos/i-hTWr6gJ/1/307b0e7a/XL/8E6254AC-1F66-42AB-9ACD-9658EB4F7550-XL.jpg');background-repeat: no-repeat;background-size: cover;width: 250px;height: 350px;padding-top: 20px;
    
}
.con2{
    background-image: url('https://www.australia.com/content/australia/en_in/facts-and-planning/about-australia/the-aussie-way-of-life/_jcr_content/imagePortrait.adapt.740.medium.jpg');background-repeat: no-repeat;background-size: cover;width: 250px;height: 350px;padding-top: 20px;
}
.con3{
    background-image: url('https://www.australia.com/content/australia/en_in/facts-and-planning/about-australia/cities-states-and-territories/_jcr_content/imagePortrait.adapt.740.medium.jpg');background-repeat: no-repeat;background-size: cover;width: 250px;height: 350px;padding-top: 20px;
}
.con4{
    background-image: url('https://www.australia.com/content/australia/en_in/facts-and-planning/about-australia/history-of-australia/_jcr_content/imagePortrait.adapt.740.medium.jpg');background-repeat: no-repeat;background-size: cover;width: 250px;height: 350px;padding-top: 20px;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 360px;
    width: 100%;   
}
.col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    /* margin-top: 50px;    */
}
.img1{
    transition: 1s; 
}
.img1:hover{
    transform: scale(1.1);
}

.con1head1{
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .con1head1:before{
    content: '';
    background: #54b3d6;
    display: block;
    
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .con1head1:hover {
   background-position: 0;
  }
  
  .con1head1:hover::before{
    width: 100%;
  }
  .con2head2{
    box-shadow: inset 0 0 0 0 #0d252e;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
  }
  .con2head2:hover {
    box-shadow: inset 1265px 0 0 0 #09232d;
    color: white;
  }
  .con4head3{
    box-shadow: inset 0 0 0 0 #0d252e;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
  }
  .con4head3:hover {
    box-shadow: inset 1280px 0 0 0 #09232d;
    color: white;
  }
  .con3head4{
    box-shadow: inset 0 0 0 0 #0d252e;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
  }
  .con3head4:hover {
    box-shadow: inset 1280px 0 0 0 #09232d;
    color: white;
  }


  @import url(https://fonts.googleapis.com/css?family=Raleway);
 
  /* .container{
    margin-top: 100px
  } */
  .title{
    color: #1a1a1a;text-align: center;margin-bottom: 10px
  }
  .content{
    position: relative;width: 90%;max-width: 400px;margin: auto;overflow: hidden
  }
  .content .content-overlay{
    background: rgba(0,0,0,0.7);position: absolute;height: 99%;width: 100%;left: 0;top: 0;bottom: 0;right: 0;opacity: 0;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s
  }
  .content:hover .content-overlay{
    opacity: 1
  }
  .content-image{
    width: 100%
  }
  .content-image{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
  }
  .content-details{
    position: absolute;text-align: center;padding-left: 1em;padding-right: 1em;width: 100%;top: 50%;left: 50%;opacity: 0;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s
  }
  .content:hover .content-details{
    top: 50%;left: 50%;opacity: 1
  }
  .content-details h3{
    color: #fff;font-weight: 500;letter-spacing: 0.15em;margin-bottom: 0.5em;text-transform: uppercase
  }
  .content-details p{
    color: #fff;font-size: 0.8em
  }
  .fadeIn-bottom{
    top: 80%
  }
   /* demo make your holiday happen */

  